.main_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style:dotted;
    border-color:black;
    margin-left: -100px;
    width:99vw
}
.main_div >p{
    text-align: left;
    color:#253D90;
    font-weight: 700;
    font-size: 1.875rem;
}
.first_boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.first_boxes > button{
    width:411px;
    height:141px;
    border-radius: 16px;
    border-color: #B4B7BD;
    font-weight: 700;
    color:#1D1D1D;
    font-size: 1.563rem;
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
} 
.first_boxes > button.active {
    background-color: #253D90;
    color:#FFC20E;
    border-color: black;
  }
  .upper_div{
    display: flex;
    flex-direction:column;
justify-content: center;
align-items: center; }
.CAF{
    background-color: #E3EDF9;
    border-radius: 10px;
    width:93%;
    height:203px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
.CAF img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit:contain; 
  }
.CAF >p{
    font-weight: 700;
    font-size: 2.5rem;
    color:#253D90;
}
.CAF_Button{
    width:210px;
    height:54px;
    border-radius: 10px;
    background-color: #FFC20E;
    color:#1D1D1D;
    font-weight: 700;
    font-size: 1.363rem;
}
.subBox{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.head_subBox{
    display: flex;
    justify-content: space-between;
}
.head_subBox > p{
    font-weight: 700;
    color: black;
}
.table_1 {
    width: 100%;
height: 74px;
border-radius: 6px

}
.heading_table{
    background: #1111111A;
    font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
color:#111111;
}
.row_table{
    background: white;
    font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
color: #111111;

}
.linehr{
    background-color: black;
    height: 1px; 
    margin: 0;
    border: none; 
    position: relative;
  }
.pagination {
    display: inline-block;
    margin-left: 70%;
    margin-top: 20%;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: black;
  }
  
  .pagination a:hover {
    background-color: black;
  }


  .App_div{
    display: flex;
    text-align: left;
    flex-direction: column;
   
  }
  .App_div >p{
    color:#253D90;
    font-weight: 700;
    font-size: 1.875rem;
  }
  .App_button_div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-color: black;
    border-style:dotted;
    margin-top: 2%;
  }
  .App_button_div > button{
    width: 437.2px;
height: 60px;
border-radius: 10px;
box-shadow: 5px 2px 10px 0px #0000000D;
background-color:white;
color: black;
  }
  .filterProdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
  }
  .filters{
    border: 1px solid #1414140D;
background-color: #FFFFFF;
border-style: dotted;
border-color:black;


  }
  .filterhead{
       color:#141414;
       font-weight: 700;
  }
  .headfilter{
    font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color:black;
  }
.filters > label{
    color:black
  }
  .applicants{
    border-style: dotted;
    border-color:black;
    width:80vw;
    background-color: whitesmoke;

  }
  .noofapp{
    font-family: Inter;
font-size: 32px;
font-weight: 700;
text-align: left;
color:#141414;
border-style: dotted;
border-color:black
  }
  .sub_heading_table{
    font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #27272A;

}
.sub_heading_row_table{
    width: 1029px;
height: 47.02px;
border-radius: 4px;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: #27272A;
background: #FFFFFF;
}
.App_button_div > button.active {
    background-color: #253D90;
    color:#FFC20E;
    border-color: black;
  }
  input[type="radio"] {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    width: 16px; 
    height: 16px; 
    border: 2px solid #fff; 
    border-radius: 50%; 
    background-color: white;
    border-color: black; 
    color:black;
  }
  
 
  input[type="radio"]:checked {
    background-color: black;
  }
  .table_2{
    width:100%
  }


  .the_two_buttons{
    display: flex;
    gap:2%;
    margin-top: 1%;
    
  }
  .the_two_buttons > button{
    width: 10vw;
height: 54px;

border-radius: 10px;
background: #FFC20E;
color:black;
text-align: center;
font-size: 25px;
font-weight: 700;
align-items: center;
}
.div_under_App{
    display: flex;
    color:black;
    border-style: dotted;
    border-color: red;
    justify-content: center;
}
.div_under_App > input{
    width: 240px;
height: 48px;
border-radius: 4px;
border: 1px;
background: white;
}
.right_eelements{
  margin-left: 670px;
  display: flex;
  align-items: center;
  gap:2%;
}

table.table_2 {
  border-collapse: collapse;
  width: 100%;
}

table.table_2 td {
  border-bottom: 1px solid #ccc; 
  padding: 8px;
  text-align: center;
}

table.table_2 th {
  border-bottom: 2px solid #000;
  padding: 8px;
  text-align: center;
}
.scheduleMeet{
  display: flex;
  gap:10%;

}